@import "colors";

.footerApp {
  background: transparent
    linear-gradient(180deg, $footer-secondary 0%, $footer-primary 100%) 0% 0%
    no-repeat padding-box;
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  margin-bottom: 20px;
  max-width: 100%;
  height: 167px;
  padding-right: 50px;
  box-shadow: 4px 6px 23px #a9a9a911;

  @media screen and (max-width: 768px) {
    width: 465px;
    height: 70px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 771px;
    height: 116px;
  }

  .footer_title {
    width: 50%;
    display: flex;
    justify-content: center;

    h1 {
      font-family: "AppFont";
      color: $footer-text-color;
      font: normal normal normal 56px/67px "AppFont";
      font-weight: 400;
    }
    @media screen and (max-width: 768px) {
      h1 {
        color: $footer-text-color;
        font: normal normal normal 20px/25px "AppFont", sans-serif;
        opacity: 1;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        h1 {
            color: $footer-text-color;
            font: normal normal normal 32px/39px "AppFont", sans-serif;
            opacity: 1;
        }
    }
  }

  .footer_img {
    width: 50%;
    opacity: 1;
    display: flex;
    right: 0;
    @media screen and (max-width: 768px) {
      margin-top: -10px;
      .imgfooter {
        left: 190px;
        width: 228px;
        height: 106px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .imgfooter {
        left: 328px;
        width: 379px;
        height: 175px;
      }
    }
  }
}
